//This file you will create your variables inside of the project
$white: #fff;

$isabelline: #ececec;

$light-gray: #d1d1d1;



$smoky-black: #0c0910;

$granite-gray: #646266;

$quick-silver: #a6a5a8;

// Fonts

$old-standard: 'Old Standard TT', serif;

$raleway: 'Raleway', sans-serif;

$font-bold: 700;
$font-semi-bold:500;
$font-regular: 400;



// Font sizes

$xxx-large: 50px;

$xx-large: 30px;

$x-large: 20px;

$large: 18px;

$medium: 16px;

$small: 14px;

$x-small: 12px;

//breakpoint

$laptop-view: 992px;
$tablet-view: 576px;
$mobile-view: 375px;