//This file is for create your style with relation on space of header
.header{
    &__img{
        background-image: url('/assets/img/imagen1.png');
         padding: 0;
        width: 100%;
        height: 350px;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}